<div class="col-md-8">
    <div class="overview-component">
        <div class="hr-divider">
            <h3 class="hr-divider-content hr-divider-heading">
                <span class="icon icon-camera"></span>&nbsp; CCTV
            </h3>
        </div>
        <div class="cctv m-t"></div>
    </div>
    <div class="overview-component main p-r">
        <div class="hr-divider">
            <h3 class="hr-divider-content hr-divider-heading">
                <span class="icon icon-bar-graph"></span>&nbsp; 농장 평균
            </h3>
        </div>
        <div class="average m-t"></div>
    </div>
    <div class="col-md-6 p-r-0 p-l-0">
        <div class="overview-component">
            <div class="hr-divider">
                <h3 class="hr-divider-content hr-divider-heading">
                    <span class="icon icon-shop"></span>&nbsp; 물적 유통
                </h3>
            </div>
            <div class="logistics m-t"></div>
        </div>
    </div>
    <div class="col-md-6 p-r-0 p-l-0">
        <div class="overview-component">
            <div class="hr-divider">
                <h3 class="hr-divider-content hr-divider-heading">
                    <span class="icon icon-thermometer"></span>&nbsp; 날씨
                </h3>
            </div>
            <div class="weather m-t"></div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="overview-component">
        <div class="hr-divider">
            <h3 class="hr-divider-content hr-divider-heading">
                <span class="icon icon-drop"></span>&nbsp; 물
            </h3>
        </div>
        <div class="water m-t"></div>
    </div>
    <div class="overview-component">
        <div class="hr-divider">
            <h3 class="hr-divider-content hr-divider-heading">
                <span class="icon icon-air"></span>&nbsp; 대기
            </h3>
        </div>
        <div class="air m-t"></div>
    </div>
</div>